<ion-content class="content">

  <ion-grid>
   
    <ion-row style="color: white;padding: 0 30px;">
      <ion-img src="./assets/logo.png" class="logo"></ion-img>
      <form [formGroup]="recoveryForm" >
        <div style="text-align: center;">
          <span>{{'recover_password.title' | translate}} </span><br><br> <span>{{'recover_password.msg' | translate}}</span>
        </div>
       
        <ion-item fill="outline">
          <ion-label position="floating">{{'recover_password.email.label' | translate}}</ion-label>
          <ion-input type="text" formControlName="email"></ion-input>
  
        </ion-item>
    
  
        <ion-button class="ingresar" expand="block" fill="outline" [disabled]="recoveryForm.invalid" (click)="recuperar()">{{'recover_password.button' | translate}}</ion-button>
        <div style="text-align: center;">
          <a routerLink="" class="text-dorado">{{'recover_password.back' | translate}}</a>
        </div>
      </form>
    </ion-row>
    </ion-grid>
  
  </ion-content> 
  