/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import '~@ionic/angular/css/core.css';

/* Basic CSS for apps built with Ionic */
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';

.alertblack {
	--background: #211f1f !important;
	--spinner-color: #d0ae3d !important;
	color: white !important;
}
.alertdorado {
	--background: #211f1f !important;
	--spinner-color: #d0ae3d !important;
	color: white !important;
}

.alertdorado [aria-checked='true'].sc-ion-alert-md .alert-radio-icon.sc-ion-alert-md {
	border-color: #d0ae3d;
}
.alertdorado .alert-title {
	color: white !important;
}
.alertdorado .ion-activatable {
	color: #d0ae3d !important;
}
.alertdorado .alert-radio-label {
	color: white !important;
}
.alertdorado .alert-radio-inner.sc-ion-alert-md {
	background: #d0ae3d !important;
}
.alertdorado .alert-button-role-cancel {
	color: white !important;
}
.alertblack .alert-title {
	color: white;
}
.alertblack .alert-message {
	color: white;
}
.alertblack .alert-input {
	color: white !important;
}

.button-alert {
	color: #d0ae3d !important;
}
.button-alert-cancel {
	color: #d0473d !important;
}

.text-dorado {
	color: #d0ae3d !important;
}

.background-dorado {
	--background: #d0ae3d;
}

.futxtrm-dorado {
	background: #d0ae3d;
}

.color-blanco {
	color: white !important;
}

ion-menu-button {
	--color: #d0ae3d;
}

ion-toolbar {
	--background: black;
	--color: #d0ae3d;
}

ion-content {
	--ion-background-color: black;
}

ion-picker {
	--background: #181717 !important;
	color: white !important;
}

.picker-button {
	color: #d0ae3d !important;
}
.picker-opt-selected {
	color: #d0ae3d !important;
}

.text-center {
	text-align: center;
}
.text-right {
	text-align: right;
}

.futxtrm-color {
	--background: #003897 !important;
}
.futxtrm-color-verde {
	--background: #00e676 !important;
}
.futxtrm-color-negro {
	--background: #211f1f !important;
}
.futxtrm-color-dorado {
	--background: #d0ae3d !important;
}
.futxtrm-color-gris {
	--background: #535353 !important;
}
.futxtrm-color-naranja {
	--background: #ff6d00 !important;
}
.futxtrm-color-gris {
	--background: #d94343 !important;
}
.futxtrm-color-gris-gradient {
	--background: linear-gradient(90deg, rgba(158, 47, 47, 1) 0%, rgba(217, 67, 67, 1) 73%) !important;
}
.futxtrm-color-azul {
	--background: #003897 !important;
}
.futxtrm-color-rosa {
	--background: #9c09af !important;
}
