.content{
    --ion-background-color:#211f1f;
}

ion-grid{
    height: 100%;
}
ion-row{
   
    justify-content: center;
    height: 100%;
}

ion-item {
    --ion-background-color: #211f1f !important;
    --color:#D0AE3D;
    --border-color: #D0AE3D;
}

.ingresar{
    --border-color: #D0AE3D;
    --background: #D0AE3D;
    --color: #FFF;
    margin-top: 30px;
}



ion-label{
    --color: #D0AE3D;
}


ion-item.item-has-focus > ion-label{
    color:  #D0AE3D  !important;
  }

ion-input{
    // --background:#211f1f;
    --color:#D0AE3D;
}

.logo{
    width: 70%;
}

.error{
    color: red; 
    padding-top: 0.2rem;
    text-align: center;
}

.userbad{
    --background: #211f1f !important;
}

// ion-alert{
//  --background: #211f1f !important;
// }